root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = tab
indent_brace_style = K&R
tab_width = 4
charset = utf-8
trim_trailing_whitespace = false
max_line_length = 10000
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside

[*.php]
insert_final_newline = true
trim_trailing_whitespace = true

[*.css]
indent_style = tab
quote_type = single
tab_width = 3

[*.tpl]
indent_style = tab
quote_type = double
tab_width = 3

[*.xml]
indent_style = tab
quote_type = double
tab_width = 3

[*.js]
indent_style = space
quote_type = single
tab_width = 4

[*.sh]
indent_style = tab
quote_type = single
tab_width = 3

[*.txt]
indent_style = tab
quote_type = single
tab_width = 3


# Some files should not be reformatted (NB: Max .editorconfig line length is 200)...
# git checkout -- _tests/simpletest data_custom/upload-crop/upload_crop_v1.2.php sources/diff.php sources/firephp.php sources/jsmin.php \
#  sources/lang_stemmer_EN.php sources_custom/swift_mailer sources_custom/facebook sources_custom/geshi.php sources_custom/geshi sources_custom/getid3 \
#  sources_custom/photobucket sources_custom/programe sources_custom/sabredav \
#  themes/default/css_custom/confluence.css \
#  sources_custom/Transliterator sources/mail_dkim.php \
#  sources_custom/Cloudinary sources_custom/ILess sources_custom/spout sources_custom/twitter.php data/ckeditor data_custom/ckeditor data/ace \
#  sources_custom/aws sources_custom/Transliterator \
#  themes/default/javascript/widget_color.js themes/default/javascript/widget_date.js themes/default/javascript/jwplayer.js \
#  themes/default/javascript_custom/mediaelement-and-player.js themes/default/css_custom/mediaelementplayer.css themes/default/javascript/sound.js \
#  themes/default/javascript_custom/charts.js themes/default/javascript/modernizr.js themes/default/javascript/select2.js \
#  themes/default/javascript_custom/skitter.js themes/default/javascript_custom/sortable_tables.js themes/default/javascript_custom/unslider.js \
#  themes/default/javascript/plupload.js themes/default/javascript_custom/columns.js \
#  themes/default/javascript_custom/jquery_flip.js themes/default/javascript_custom/tag_cloud.js \
#  themes/default/javascript_custom/base64.js mobiquo/smartbanner mobiquo/lib sources_custom/composr_mobile_sdk/ios/ApnsPHP \
#  data_custom/errorlog.php data_custom/execute_temp.php data_custom/latest_activity.txt data_custom/permission_checks.log \
#  uploads _config.php sources_custom/browser_detect.php tracker _old _tests/html_dump _tests/cmstest _tests/screens_tested \
#  docs/api docs/composr-api-template data_custom/upload-crop caches exports imports nbproject themes/default/templates_cached/EN \
#  _tests/codechecker/codechecker.app _tests/codechecker/netbeans/nbproject _tests/codechecker/netbeans/build _tests/codechecker/netbeans/dist \
#  temp themes/default/javascript/xsl_mopup.js data/modules/admin_stats/IP_Country.txt docs \
#  themes/default/css_custom/skitter.css \
#  themes/default/css_custom/unslider.css themes/default/css_custom/sortable_tables.css themes/default/css_custom/google_search.css \
#  themes/default/css_custom/columns.css themes/default/css_custom/flip.css
# (ends)
# Remember to update line_count.sh and licence.txt and phpdoc.dist.xml and https://docs.google.com/spreadsheets/d/1Im6ICITZmzoBVMizD0CkM7N0kXH5Rb-NQJzD1hk49cU/edit#gid=0 and automated test skipping and maintenance_sheet.csv too (as appropriate).

# PHPStorm settings (.idea/codeStyleSettings.xml)...

#<?xml version="1.0" encoding="UTF-8"?>
#<project version="4">
#  <component name="ProjectCodeStyleSettingsManager">
#    <option name="PER_PROJECT_SETTINGS">
#      <value>
#        <option name="OTHER_INDENT_OPTIONS">
#          <value>
#            <option name="INDENT_SIZE" value="3" />
#            <option name="CONTINUATION_INDENT_SIZE" value="3" />
#            <option name="TAB_SIZE" value="3" />
#            <option name="USE_TAB_CHARACTER" value="true" />
#            <option name="SMART_TABS" value="false" />
#            <option name="LABEL_INDENT_SIZE" value="0" />
#            <option name="LABEL_INDENT_ABSOLUTE" value="false" />
#            <option name="USE_RELATIVE_INDENTS" value="false" />
#          </value>
#        </option>
#        <option name="LINE_SEPARATOR" value="&#10;" />
#        <option name="HTML_ATTRIBUTE_WRAP" value="0" />
#        <PHPCodeStyleSettings>
#          <option name="ALIGN_PHPDOC_PARAM_NAMES" value="true" />
#          <option name="PHPDOC_BLANK_LINE_BEFORE_TAGS" value="true" />
#          <option name="LOWER_CASE_BOOLEAN_CONST" value="true" />
#          <option name="LOWER_CASE_NULL_CONST" value="true" />
#        </PHPCodeStyleSettings>
#        <XML>
#          <option name="XML_LEGACY_SETTINGS_IMPORTED" value="true" />
#        </XML>
#        <codeStyleSettings language="CSS">
#          <indentOptions>
#            <option name="INDENT_SIZE" value="3" />
#            <option name="CONTINUATION_INDENT_SIZE" value="3" />
#            <option name="TAB_SIZE" value="3" />
#            <option name="USE_TAB_CHARACTER" value="true" />
#          </indentOptions>
#        </codeStyleSettings>
#        <codeStyleSettings language="JavaScript">
#          <indentOptions>
#            <option name="INDENT_SIZE" value="3" />
#            <option name="CONTINUATION_INDENT_SIZE" value="3" />
#            <option name="TAB_SIZE" value="3" />
#            <option name="USE_TAB_CHARACTER" value="true" />
#          </indentOptions>
#        </codeStyleSettings>
#        <codeStyleSettings language="PHP">
#          <option name="KEEP_BLANK_LINES_IN_DECLARATIONS" value="1" />
#          <option name="KEEP_BLANK_LINES_IN_CODE" value="1" />
#          <option name="KEEP_BLANK_LINES_BEFORE_RBRACE" value="0" />
#          <option name="ALIGN_MULTILINE_ARRAY_INITIALIZER_EXPRESSION" value="true" />
#          <option name="IF_BRACE_FORCE" value="3" />
#          <option name="DOWHILE_BRACE_FORCE" value="3" />
#          <option name="WHILE_BRACE_FORCE" value="3" />
#          <option name="FOR_BRACE_FORCE" value="3" />
#        </codeStyleSettings>
#        <codeStyleSettings language="SQL">
#          <indentOptions>
#            <option name="INDENT_SIZE" value="3" />
#            <option name="CONTINUATION_INDENT_SIZE" value="3" />
#            <option name="TAB_SIZE" value="3" />
#            <option name="USE_TAB_CHARACTER" value="true" />
#          </indentOptions>
#        </codeStyleSettings>
#        <codeStyleSettings language="XML">
#          <indentOptions>
#            <option name="INDENT_SIZE" value="3" />
#            <option name="CONTINUATION_INDENT_SIZE" value="3" />
#            <option name="TAB_SIZE" value="3" />
#            <option name="USE_TAB_CHARACTER" value="true" />
#          </indentOptions>
#        </codeStyleSettings>
#      </value>
#    </option>
#    <option name="USE_PER_PROJECT_SETTINGS" value="true" />
#  </component>
#</project>

