/caches/*
/data/ace/*
/data/ckeditor/*
/data/polyfills/*
/data_custom/upload-crop/*
/docs/composr-api-template/*
/exports/*
/mobiquo/*
/temp/*
/themes/*/templates_cached/*
/themes/default/javascript/ATTACHMENT_UI_DEFAULTS.js
/themes/default/javascript/jquery.js
/themes/default/javascript/jquery_autocomplete.js
/themes/default/javascript/jquery_ui.js
/themes/default/javascript/JSON5.js
/themes/default/javascript/modernizr.js
/themes/default/javascript/select2.js
/themes/default/javascript/sound.js
/themes/default/javascript/POLYFILL_FETCH.js
/themes/default/javascript/POLYFILL_GENERAL.js
/themes/default/javascript/POLYFILL_KEYBOARDEVENT_KEY.js
/themes/default/javascript/POLYFILL_URL.js
/themes/default/javascript/POLYFILL_WEB_ANIMATIONS.js
/themes/default/javascript/widget_color.js
/themes/default/javascript/widget_date.js
/themes/default/javascript/WYSIWYG_SETTINGS.js
/themes/default/javascript/xsl_mopup.js
/themes/default/javascript/glide.js
/themes/default/javascript/masonry.js
/themes/default/javascript_custom/base64.js
/themes/default/javascript_custom/columns.js
/themes/default/javascript_custom/jquery_flip.js
/themes/default/javascript/mediaelement-and-player.js
/themes/default/javascript_custom/skitter.js
/themes/default/javascript_custom/sortable_tables.js
/themes/default/javascript_custom/tag_cloud.js
/themes/default/javascript_custom/unslider.js
/tracker/*