# Autodetect most text files, always convert line endings to LF on checkout
* text=auto eol=lf

# Text formats we allow web access to
*.1st text
*.atom text
*.css text
*.csv text
*.diff text
*.html text
*.ics text
*.ini text
*.js text
*.json text
*.log text
*.patch text
*.php text
*.rss text
*.sql text
*.svg text
*.tpl text
*.txt text
*.xml text
*.xsd text
*.xsl text

# Other text formats
*.bat text
*.config text
*.crt text
*.editfrom text
*.htaccess text
*.htm text
*.plist text
*.pre text
*.properties text
*.java text
*.sh text
*.vtt text
*.bundle text
*.c text
*.cms text
*.dist text
*.dtd text
*.example text
*.h text
*.hhi text
*.in text
*.m4 text
*.md text
*.pem text
*.phps text
*.py text
*.rdf text
*.rst text
*.sample text
*.template text
*.w32 text
*.wsdl text
*.yaml text
*.yml text

# We have some upper case ones
*.TXT text

# Binary formats we allow web access to
*.3g2 binary
*.3gp binary
*.3gp2 binary
*.3gpp binary
*.3p binary
*.7z binary
*.aac binary
*.ai binary
*.aif binary
*.aifc binary
*.aiff binary
*.asf binary
*.avi binary
*.bmp binary
*.bz2 binary
*.cur binary
*.dat binary
*.dmg binary
*.doc binary
*.docx binary
*.dot binary
*.dotx binary
*.eml binary
*.exe binary
*.f4v binary
*.gif binary
*.gz binary
*.ico binary
*.iso binary
*.jpe binary
*.jpeg binary
*.jpg binary
*.keynote binary
*.m2v binary
*.m4v binary
*.mdb binary
*.mid binary
*.mov binary
*.mp2 binary
*.mp3 binary
*.mp4 binary
*.mpa binary
*.mpe binary
*.mpeg binary
*.mpg binary
*.mpv2 binary
*.numbers binary
*.odb binary
*.odc binary
*.odg binary
*.odi binary
*.odp binary
*.ods binary
*.odt binary
*.ogg binary
*.ogv binary
*.otf binary
*.pages binary
*.pdf binary
*.png binary
*.ppt binary
*.pptx binary
*.ps binary
*.psd binary
*.pub binary
*.qt binary
*.ra binary
*.ram binary
*.rar binary
*.rm binary
*.rtf binary
*.swf binary
*.tar binary
*.tga binary
*.tgz binary
*.tif binary
*.tiff binary
*.torrent binary
*.ttf binary
*.vsd binary
*.wav binary
*.weba binary
*.webm binary
*.webp binary
*.wma binary
*.wmv binary
*.woff binary
*.woff2 binary
*.xls binary
*.xlsx binary
*.zip binary

# Other binary formats
*.aiml binary
*.alias binary
*.class binary
*.db binary
*.dll binary
*.eot binary
*.jar binary
*.kbd binary
*.mf binary
*.multi binary
*.phar binary
*.rws binary
*.xap binary
*.lock binary
*.sq3 binary
