<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Redirect away from modules called directly by URL. Helpful as it allows you to "run" a module file in a debugger and still see it running.-->
				
				<rule name="Imported Rule 1" stopProcessing="true">
				   <match url="^([^=]*)pages/(modules|modules_custom)/([^/]*)\.php$" ignoreCase="false" />
				   <action type="Redirect" redirectType="Found" url="^([^=]*)pages/(modules|modules_custom)/([^/]*)\.php$" appendQueryString="true" />
				</rule>
				

				<!-- PG STYLE: These have a specially reduced form (no need to make it too explicit that these are Wiki+). We shouldn't shorten them too much, or the actual zone or base url might conflict-->
				
				<rule name="Imported Rule 2" stopProcessing="true">
				   <match url="^([^=]*)pg/s/([^\&amp;\?]*)/index\.php$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/s/([^\&amp;\?]*)/index\.php$" appendQueryString="true" />
				</rule>
				
				
				<!-- PG STYLE: These are standard patterns-->

				<rule name="Imported Rule 3" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)/index\.php(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)/index\.php(.*)$" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 4" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/index\.php(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/index\.php(.*)$" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 5" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)/index\.php(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)/index\.php(.*)$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 6" stopProcessing="true">
				   <match url="^([^=]*)pg/index\.php(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/index\.php(.*)$" appendQueryString="true" />
				</rule>
				
				
				<!-- PG STYLE: Now the same as the above sets, but without any additional parameters (and thus no index.php)-->
				
				<rule name="Imported Rule 7" stopProcessing="true">
				   <match url="^([^=]*)pg/s/([^\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/s/([^\&amp;\?]*)$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 8" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)/$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)/$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 9" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 10" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 11" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?]*)$" appendQueryString="true" />
				</rule>
				
				
				<!-- PG STYLE: And these for those nasty situations where index.php was missing and we couldn't do anything about it (usually due to keep_session creeping into a semi-cached URL)-->
				
				<rule name="Imported Rule 12" stopProcessing="true">
				   <match url="^([^=]*)pg/s/([^\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/s/([^\&amp;\?\.]*)&amp;(.*)$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 13" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)&amp;(.*)$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 14" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)&amp;(.*)$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 15" stopProcessing="true">
				   <match url="^([^=]*)pg/([^/\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^=]*)pg/([^/\&amp;\?\.]*)&amp;(.*)$" appendQueryString="true" />
				</rule>
				
				
				<!-- HTM STYLE: These have a specially reduced form (no need to make it too explicit that these are Wiki+). We shouldn't shorten them too much, or the actual zone or base url might conflict-->
				
				<rule name="Imported Rule 16" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/s/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/s/([^\&amp;\?]*)\.htm$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 17" stopProcessing="true">
				   <match url="^s/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^s/([^\&amp;\?]*)\.htm$" appendQueryString="true" />
				</rule>
				
				
				<!-- HTM STYLE: These are standard patterns-->
				
				<rule name="Imported Rule 18" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)\.htm$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 19" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)\.htm$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 20" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)\.htm$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 21" stopProcessing="true">
				   <match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)\.htm$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 22" stopProcessing="true">
				   <match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)\.htm$" appendQueryString="true" />
				</rule>
				
				<rule name="Imported Rule 23" stopProcessing="true">
				   <match url="^([^/\&amp;\?]+)\.htm$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^/\&amp;\?]+)\.htm$" appendQueryString="true" />
				</rule>
				
				
				<!-- SIMPLE STYLE: These have a specially reduced form (no need to make it too explicit that these are Wiki+). We shouldn't shorten them too much, or the actual zone or base url might conflict-->

				<!--<rule name="Imported Rule 24" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/s/([^\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/s/([^\&amp;\?]*)$" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 25" stopProcessing="true">
				   <match url="^s/([^\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^s/([^\&amp;\?]*)$" appendQueryString="true" />
				</rule>-->
				
				
				<!-- SIMPLE STYLE: These are standard patterns-->
				
				<!--<rule name="Imported Rule 26" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" appendQueryString="true" />
				</rule>-->
				
				<!--<rule name="Imported Rule 27" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)$" appendQueryString="true" />
				</rule>-->
				
				<!--<rule name="Imported Rule 28" stopProcessing="true">
				   <match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)$" ignoreCase="false" />
				   <action type="Rewrite" url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)$" appendQueryString="true" />
				</rule>-->
				
				<!--<rule name="Imported Rule 29" stopProcessing="true">
				   <match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" appendQueryString="true" />
				</rule>-->
				
				<!--<rule name="Imported Rule 30" stopProcessing="true">
				   <match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)$" appendQueryString="true" />
				</rule>-->
				
				<!--<rule name="Imported Rule 31" stopProcessing="true">
				   <match url="^([^/\&amp;\?]+)$" ignoreCase="false" />
				   <action type="Rewrite" url="^([^/\&amp;\?]+)$" appendQueryString="true" />
				</rule>-->
			</rules>
		</rewrite>

		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" /> 
				<add value="index.php" />
			</files>
		</defaultDocument>

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2097152000" />
				<!--2GB; also see maxRequestLength-->
			</requestFiltering>
		</security>

		<!-- HTTP Errors section should only be enabled if the "Error Pages"
		feature has been delegated as "Read/Write" at the Web Server level.
			<httpErrors>
				<remove statusCode="404" subStatusCode="-1" />
				<error statusCode="404" prefixLanguageFilePath="" path="/index.php?page=404" responseMode="ExecuteURL" />
			</httpErrors>
		-->
	</system.webServer>

	<system.web>
		<httpRuntime maxRequestLength="2048000" />
	</system.web>
</configuration>
