<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Redirect away from modules called directly by URL. Helpful as it allows you to "run" a module file in a debugger and still see it running.-->

				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^([^=]*)pages/(modules|modules_custom)/([^/]*)\.php$" ignoreCase="false" />
					<action type="Redirect" redirectType="Found" url="{R:1}index.php\?page={R:3}" appendQueryString="true" />
				</rule>


				<!-- PG STYLE: These have a specially reduced form (no need to make it too explicit that these are Wiki+). We shouldn't shorten them too much, or the actual zone or base URL might conflict-->

				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="^([^=]*)pg/s/([^\&amp;\?]*)/index\.php$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page=wiki&amp;id={R:2}" appendQueryString="true" />
				</rule>


				<!-- PG STYLE: These are standard patterns-->

				<rule name="Imported Rule 3" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)/index\.php(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}&amp;type={R:3}&amp;id={R:4}{R:5}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 4" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/index\.php(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}&amp;type={R:3}{R:4}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 5" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)/index\.php(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}{R:3}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 6" stopProcessing="true">
					<match url="^([^=]*)pg/index\.php(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}" appendQueryString="true" />
				</rule>


				<!-- PG STYLE: Now the same as the above sets, but without any additional parameters (and thus no index.php)-->

				<rule name="Imported Rule 7" stopProcessing="true">
					<match url="^([^=]*)pg/s/([^\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page=wiki&amp;id={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 8" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)/$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}&amp;type={R:3}&amp;id={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 9" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}&amp;type={R:3}&amp;id={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 10" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)/([^/\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}&amp;type={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 11" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?page={R:2}" appendQueryString="true" />
				</rule>


				<!-- PG STYLE: And these for those nasty situations where index.php was missing and we couldn't do anything about it (usually due to keep_session creeping into a semi-cached URL)-->

				<rule name="Imported Rule 12" stopProcessing="true">
					<match url="^([^=]*)pg/s/([^\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?{R:3}&amp;page=wiki&amp;id={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 13" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?{R:5}&amp;page={R:2}&amp;type={R:3}&amp;id={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 14" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?\.]*)/([^/\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?{R:4}&amp;page={R:2}&amp;type={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 15" stopProcessing="true">
					<match url="^([^=]*)pg/([^/\&amp;\?\.]*)&amp;(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}index.php\?{R:3}&amp;page={R:2}" appendQueryString="true" />
				</rule>


				<!-- HTM STYLE: These have a specially reduced form (no need to make it too explicit that these are Wiki+). We shouldn't shorten them too much, or the actual zone or base URL might conflict-->

				<rule name="Imported Rule 16" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/s/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page=wiki&amp;id={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 17" stopProcessing="true">
					<match url="^s/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="index\.php\?page=wiki&amp;id={R:1}" appendQueryString="true" />
				</rule>


				<!-- HTM STYLE: These are standard patterns-->

				<rule name="Imported Rule 18" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page={R:2}&amp;type={R:3}&amp;id={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 19" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page={R:2}&amp;type={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 20" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 21" stopProcessing="true">
					<match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="index.php\?page={R:1}&amp;type={R:2}&amp;id={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 22" stopProcessing="true">
					<match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="index.php\?page={R:1}&amp;type={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Imported Rule 23" stopProcessing="true">
					<match url="^([^/\&amp;\?]+)\.htm$" ignoreCase="false" />
					<action type="Rewrite" url="index.php\?page={R:1}" appendQueryString="true" />
				</rule>


				<!-- SIMPLE STYLE: These have a specially reduced form (no need to make it too explicit that these are Wiki+). We shouldn't shorten them too much, or the actual zone or base URL might conflict-->

				<!--<rule name="Imported Rule 24" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/s/([^\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page=wiki&amp;id={R:2}" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 25" stopProcessing="true">
					<match url="^s/([^\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="index\.php\?page=wiki&amp;id={R:1}" appendQueryString="true" />
				</rule>-->


				<!-- SIMPLE STYLE: These are standard patterns-->

				<!--<rule name="Imported Rule 26" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page={R:2}&amp;type={R:3}&amp;id={R:4}" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 27" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)/([^/\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page={R:2}&amp;type={R:3}" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 28" stopProcessing="true">
					<match url="^(site|forum|adminzone|cms|collaboration)/([^/\&amp;\?]+)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}/index.php\?page={R:2}" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 29" stopProcessing="true">
					<match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)/([^\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="index.php\?page={R:1}&amp;type={R:2}&amp;id={R:3}" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 30" stopProcessing="true">
					<match url="^([^/\&amp;\?]+)/([^/\&amp;\?]*)$" ignoreCase="false" />
					<action type="Rewrite" url="index.php\?page={R:1}&amp;type={R:2}" appendQueryString="true" />
				</rule>-->

				<!--<rule name="Imported Rule 31" stopProcessing="true">
					<match url="^([^/\&amp;\?]+)$" ignoreCase="false" />
					<action type="Rewrite" url="index.php\?page={R:1}" appendQueryString="true" />
				</rule>-->
			</rules>
		</rewrite>

		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
				<add value="index.php" />
			</files>
		</defaultDocument>

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2097152000" />
				<!--2GB; also see maxRequestLength-->

				<hiddenSegments>
					<add segment="caches" />
					<add segment="temp" />
					<add segment="errorlog.php" />
					<add segment="permission_checks.log" />
					<add segment="ecommerce.log" />
					<add segment="queries.log" />
					<add segment="profiling*.log" />
					<add segment="resource_fs.log" />
					<add segment="cron.log" />
					<add segment="health_check.log" />
					<add segment="debug_fs.log" />
					<add segment="mail_integration.log" />
					<add segment="tasks.log" />
				</hiddenSegments>
			</requestFiltering>
		</security>

		<!-- Note that the path needs updating if we're in a sub-directory.
			<httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
				<remove statusCode="404" subStatusCode="-1" />
				<error statusCode="404" path="/index.php?page=404" responseMode="ExecuteURL" />
			</httpErrors>
		-->
	</system.webServer>

	<system.web>
		<httpRuntime maxRequestLength="2048000" />
	</system.web>
</configuration>
