/* !HTML5 Date polyfill | Jonathan Stipe | https://github.com/jonstipe/date-polyfill */
button.date-datepicker-button:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0em 0.4em;
  border-color: black transparent transparent transparent;
  margin: 0em 0em 0.2em 0.7em;
  vertical-align: middle; }

.csstransitions div.date-calendar-dialog.date-closed {
  transition: opacity 0.4s linear;
  opacity: 0; }
.csstransitions div.date-calendar-dialog.date-open {
  z-index: 1000;
  transition: opacity 0.4s linear;
  opacity: 1; }

.ui-datepicker-calendar span {
   color: black !important;
}

/* !HTML5 Time polyfill | Jonathan Stipe | https://github.com/jonstipe/time-polyfill */
div.time-spin-btn-container {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin: 0;
  padding: 0; }

div.time-spin-btn {
  box-sizing: border-box;
  border: 2px outset #CCCCCC;
  background-color: #CCCCCC;
  width: 1.2em; }

div.time-spin-btn-up {
  border-bottom-width: 1px;
  border-radius: 3px 3px 0px 0px; }

div.time-spin-btn-up:before,
div.time-spin-btn-down:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  left: 50%;
  margin: -0.15em 0 0 -0.3em;
  padding: 0; }

div.time-spin-btn-up:before {
  border-width: 0 0.3em 0.3em 0.3em;
  border-color: transparent transparent black transparent;
  top: 25%; }

div.time-spin-btn-down {
  border-top-width: 1px;
  border-radius: 0px 0px 3px 3px; }

div.time-spin-btn-down:before {
  border-width: 0.3em 0.3em 0 0.3em;
  border-color: black transparent transparent transparent;
  top: 75%; }

div.time-spin-btn:hover {
  cursor: pointer; }

div.time-spin-btn:active {
  border: 2px inset #999999;
  background-color: #999999; }

div.time-spin-btn-up:active:before {
  border-color: transparent transparent white transparent;
  top: 26%;
  left: 51%; }

div.time-spin-btn-down:active:before {
  border-color: white transparent transparent transparent;
  top: 76%;
  left: 51%; }
