order deny,allow
deny from all

# Some Apache setups will look at double extensions and execute any that look interesting to it - bad for security. Since v5 ocP filters those though.

<IfModule mod_php4.c>
php_value engine off
</IfModule>

<IfModule mod_php5.c>
php_value engine off
</IfModule>

<IfModule mod_php6.c>
php_value engine off
</IfModule>

