<Files "errorlog.php">
Order Allow,Deny
Deny from all
</Files>

<Files "*.log">
Order Allow,Deny
Deny from all
</Files>

<Files "fields.xml">
Order Allow,Deny
Deny from all
</Files>

<Files "breadcrumbs.xml">
Order Allow,Deny
Deny from all
</Files>
