<?php /*

 Composr
 Copyright (c) ocProducts, 2004-2016

 See text/EN/licence.txt for full licencing information.

*/

/**
 * @license    http://opensource.org/licenses/cpal_1.0 Common Public Attribution License
 * @copyright  ocProducts Ltd
 * @package    user_sync
 */

/*

Customise this code for your particular import scenario.

*/

function get_user_sync_env()
{
    $db_type = get_db_type();
    $db_host = get_db_site_host();
    $db_name = 'somedb';
    $db_user = get_db_site_user();
    $db_password = get_db_site_password();
    $db_table = 'users';
    $db_field_delim = '`';

    //$username_fields=array('Forename','Surname'); // Fields that forms the username
    $username_fields = array('user_idn'); // Probably better: will be unique
    $username_fields_types = array('VARCHAR');

    $time_field = null; // Set to a field name, to reduce the complexity of re-syncs

    $field_remap = array(
        /*'
        e.g.

        CMS FIELD NAME (without prefix)'=>array(
            'LOOKUP TYPE (default, field, or callback)',
            'SOURCE FIELD NAME or VALUE or CALLBACK',
            array(REMAPS [optional]),
            array(REVERSE REMAPS [optional]),
            'DESTINATION TYPE [optional - defaults to something based upon PHP type; expects a standard SQL type name]',
        ),
        */

        'pass_hash_salted' => array(),
        'email_address' => array(),
        'groups' => array(),
        'dob_day' => array(),
        'dob_month' => array(),
        'dob_year' => array(),
        'timezone_offset' => array(),
        'primary_group' => array(),
        'validated' => array(),
        'is_perm_banned' => array(),
        'reveal_age' => array(),
        'photo_url' => array(),
        'language' => array(),
        'allow_emails' => array(),
        'allow_emails_from_staff' => array(),

        // CPFs...
        'fullname' => array(),
        'firstname' => array(),
        'lastname' => array(),
        'country' => array(),
        'state' => array(),
        'city' => array(),
        'building_name_or_number' => array(),
        'post_code' => array(),
        'mobile_phone_number' => array(),
        'payment_type' => array(),
        'payment_cardholder_name' => array(),
        'payment_card_number' => array(),
        'payment_card_start_date' => array(),
        'payment_card_expiry_date' => array(),
        'payment_card_issue_number' => array(),
    );

    $default_password = null; // NULL means random password
    $temporary_password = true;

    return array(
        $db_type,
        $db_host,
        $db_name,
        $db_user,
        $db_password,
        $db_table,

        $db_field_delim,

        $username_fields,
        $username_fields_types,
        $time_field,

        $field_remap,

        $default_password,
        $temporary_password,
    );
}

function get_user_sync__begin($dbh, $since)
{
}

function get_user_sync__finish($dbh, $since)
{
}
