ErrorDocument 404 /sitemap.htm

RewriteEngine on


RewriteRule ^$ start.htm [R,L]




RewriteRule EN - [L]
RewriteCond %{QUERY_STRING} keep_lang=EN
RewriteRule (^.*\.htm.*$) EN/$1 [L]


RewriteRule (^.*\.htm.*$) EN/$1 [L]

