.project {
	padding-bottom: 2em;
}

.project h3 {
	background: url('{$IMG;,composr_homesite/portfolio/hbullet}') no-repeat;
	padding-left: 23px;
	border-bottom: 0;
	text-transform: none;
}

.project_description {
	font-size: 0.92em;
	color: #5b5b5b;
	margin-left: 5px;
	line-height: 1.7em;
}

.project_image {
	float: right;
	{+START,IF,{$NOT,{$MOBILE}}}
		border-left: 1px solid #e6ebf1;
		padding-left: 1em;
	{+END}
	margin-left: 1em;
	margin-top: -2.5em; /* To put it flush with title */
}

.project_image a {
	background: none !important;
}

.project_image img {
	display: block;
	{+START,IF,{$MOBILE}}
		width: 220px;
	{+END}
	border: 1px solid #c7d2de;
}

.project_click_caption {
	background: #c7d2de;
	padding: 1em;
	text-align: center;
	margin: 0;
	font-size: 1.04em;
	text-transform: lowercase;
}

.project_further_descrip {
	clear: right;
}
