.bnrHolder { margin:0px auto; width:100%; height:526px; display:block; background-image:url('{$IMG;,composr_homesite/start/bnr-bg}'); background-repeat:repeat-x; background-position:bottom left; }
.headBnr { margin:0px auto; width:960px; height:526px; display:block; background-image:url('{$IMG;,composr_homesite/start/bnr-inr-bg}'); background-repeat:repeat-x; background-position:bottom left; }
.banner { float:left; width:960px; height:526px; }
.bnrText { float:left; width:940px; padding:15px 10px 22px 10px; font-size:34px; color:#000; text-align:center; font-weight:bold; }

.bannerImg { float:left; width:600px; height:403px; }
.orange { color:#E5922D !important; }
.textTop { float:left; width:360px; height:90px; font-size:24px; font-weight:bold; margin-top:74px; line-height:32px; }
.textBtm { float:left; width:360px; height:100px; font-size:20px; font-weight:bold; color:#FFF; margin-top:36px; text-shadow:1px 1px #D36603; }
.topBtn { float:left; width:260px; height:74px; background-image:url('{$IMG;,composr_homesite/start/top-btn-bg}'); background-position:left top; background-repeat:no-repeat; margin:10px 0px 0px 0px; }
.topBtn a { color:#000; text-align:center; font-size:18px; font-weight:bold; margin:38px 0px 0px 40px; display:block; } 
.topBtn a:hover { color:#E5922C; text-shadow:1px 1px #FFF; text-decoration:none; }

.cntCol1 { float:left; width:310px; padding-right:10px; }
.cntCol2 { float:left; width:264px; height:269px; padding:0px 18px; background-image:url('{$IMG;,composr_homesite/start/download-composr-img}'); background-position:center top; background-repeat:no-repeat; overflow:hidden; text-indent:-9999px; opacity:1; transition:opacity .25s ease-in-out; -moz-transition:opacity .25s ease-in-out; -webkit-transition:opacity .25s ease-in-out; }

.cntCol2:hover { background-position:center bottom; opacity:0.6; }

.cntCol2 a { width:264px; height:269px; display:block; }
.cntCol3 { float:left; width:330px; padding-left:10px; }
.cntCol1 .head { float:left; width:310px; padding-bottom:20px; font-size:24px; color:#E5922C; margin:0; font-weight:normal; }
.cntCol1 p { font-size:14px; line-height:22px; color:#666666; padding-bottom:15px; }
.cntCol3 .head { float:left; width:320px; padding-bottom:20px; font-size:21px; color:#E5922C; background-image:url('{$IMG;,composr_homesite/start/accelerate-blurred-img}'); background-repeat:no-repeat; background-position:12px 29px; }
.cntCol3 .head span { color:#333; font-weight:bold; font-style:italic; font-size:17px; font-weight:bold; }

.cntCol3 ul { list-style-type:none; float:left; width:330px; padding-bottom:1px; background-image:url('{$IMG;,composr_homesite/start/tick-img}'); background-repeat:no-repeat; background-position:110px 0px; }
.cntCol3 ul li { float:left; width:300px; padding-left:30px; height:34px; line-height:30px; padding-bottom:2px; background-image:url('{$IMG;,composr_homesite/start/arrow-bullet}'); background-repeat:no-repeat; background-position:5px 9px; font-size:14px; color:#666666; }

.cntCol3 ul li span { float:left; width:300px; height:34px; line-height:30px; background-image:url('{$IMG;,composr_homesite/start/cnt-main-li-seperator}'); background-repeat:no-repeat; background-position:0px 32px; font-size:14px; color:#666666; }
.cntCol3 ul li span.last { background-image:none; }
.cntCol3 ul li span:hover { cursor:text; text-decoration:none; }


/*Tutorial Library*/

.libHolder { float:left; width:960px; height:auto; padding:20px 0px 22px 0px; background-image:url('{$IMG;,composr_homesite/start/lib-hold-shadow}'); background-repeat:no-repeat; background-position:bottom center; }
.libHead { float:left; width:960px; height:47px; background-image:url('{$IMG;,composr_homesite/tut-lib-head-bg}'); background-repeat:repeat-x; background-position:top left; text-align:center; font-size:24px; font-weight:bold; color:#FFF; line-height:47px; text-shadow:1px 1px #45526D; -webkit-border-radius:13px 13px 0px 0px;-moz-border-radius:13px 13px 0px 0px;border-radius:13px 13px 0px 0px; }


/*Tab menu*/

#tabsHolder { float:left; width:956px; border-left:1px solid #ECEDF0; border-right:1px solid #ECEDF0; border-bottom:1px solid #ECEDF0; padding:0px 1px 1px 1px; background-image:url('{$IMG;,composr_homesite/tut-tab-btm-bg}'); background-repeat:repeat-x; background-position:left bottom; {$BETA_CSS_PROPERTY,border-radius:0px 0px 12px 12px;} }
.center { width:60%; margin:20px auto 0 auto; }
.marginBot { border-top:1px solid #ECEDF0; margin-top:1px; padding:0 0 20px; color:#666666; }
.moreBtn { float:left; width:958px; height:40px; }
.plusBtn { width:32px; height:32px; margin:3px auto; background-image:url('{$IMG;,composr_homesite/btn-more-img}'); background-repeat:no-repeat; background-position:left top; text-indent:-9999px; overflow:hidden; }
.plusBtn:hover { background-position:left bottom; }
.plusBtn a { display:block; height:32px; }
ul.list li { list-style-type:none; margin-left:20px; }
ul.tabs { overflow:hidden; background-color:#EDEEF1; width:500px; height:auto; padding:0px 228px; margin:0; }
ul.tabs li { list-style-type:none; display:block; float:left; color:#666; padding:4px 8px; margin:10px 5px; background:none; cursor:pointer; font-size:14px; }
ul.tabs li:hover { background-color:#CCC; {$BETA_CSS_PROPERTY,border-radius:4px;} }
ul.tabs li.current { background-color:#666666; color:#FFF; {$BETA_CSS_PROPERTY,border-radius:4px;} }
.tabscontent { padding:8px 0 0 0; width:100%; text-align:justify; font-size:13px; color:#666666; line-height:22px; }


/*News/newsletter sections*/

.ltNews { float:left; width:460px; height:auto; background-image:url('{$IMG;,composr_homesite/btm-box-bg}'); background-repeat:no-repeat; background-position:bottom center; margin-top:20px; padding-bottom:25px; }
.ltNewsHead { margin:0; float:left; width:420px; padding:0px 20px !important; height:47px; background-image:url('{$IMG;,composr_homesite/tut-lib-head-bg}'); background-repeat:repeat-x; background-position:left top; {$BETA_CSS_PROPERTY,border-radius:13px 13px 0px 0px;} font-size:24px; line-height:47px; font-weight:normal; color:#FFF !important; text-shadow:1px 1px #45526D; }
.ltCnt { float:left; width:458px; padding:15px 0px 0px 0px; border-bottom:1px solid #ECEDF0; border-left:1px solid #ECEDF0; border-right:1px solid #ECEDF0; {$BETA_CSS_PROPERTY,border-radius:0px 0px 13px 13px;} font-size:13px; color:#666; line-height:22px; }
.ltmore { float:left; width:418px; height:36px; background-image:url('{$IMG;,composr_homesite/btm-box-bg-2}'); background-repeat:repeat-x; background-position:bottom left; {$BETA_CSS_PROPERTY,border-radius:0px 0px 13px 13px;} text-align:right; padding:0px 20px; line-height:36px; font-weight:bold; font-size:14px; color:#666; }
.ltmore a { color:#666; }
.ltmore a:hover { color:#E5922C; text-decoration:none; }
.ltmoreBtn { margin:0px auto; width:36px; height:13px; overflow:hidden; text-indent:-9999px; background-image:url('{$IMG;,composr_homesite/lt-more-btn}'); background-repeat:no-repeat; background-position:left top; margin-top:12px; }
.ltmoreBtn:hover { background-position:left bottom; }
.ltmoreBtn a { display:block; height:13px; }

.ltNewsHold { float:left; width:438px; padding:0px 10px 10px 10px; }
.ltCnt h3 { margin:0; font-size:14px; font-weight:bold; color:#E5922D; padding-bottom:5px; text-align:left; line-height:16px; }
.ltCnt h3 a { color:#E5922D; }
.ltCnt span { color:#999999; font-size:12px; display:block; padding-bottom:5px; line-height:14px; }
.ltCnt p { font-size:13px; line-height:18px; color:#666666; padding-bottom:5px; }

.ltNewsRht { float:right; width:460px; height:auto; background-image:url('{$IMG;,composr_homesite/btm-box-bg}'); background-repeat:no-repeat; background-position:bottom center; margin-top:20px; padding-bottom:25px; }

.inpEmail { float:left; width:360px; margin:10px 39px 41px 39px; }
input.user { float:left; width:350px; padding:0px 4px; height:40px; border:1px solid #DFE4EA; {$BETA_CSS_PROPERTY,border-radius:6px;} outline:none; line-height:40px; font-size:14px; color:#999; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:10px; background-color:#FAFBFC !important; }
input.email { float:left; width:270px; padding:0px 4px; height:40px; border:1px solid #DFE4EA; {$BETA_CSS_PROPERTY,border-top-left-radius:6px;} {$BETA_CSS_PROPERTY,border-bottom-left-radius:6px;} outline:none; line-height:40px; font-size:14px; color:#999; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background-color:#FAFBFC !important; }

.emailBtn { float:left; width:78px; height:42px;border:1px solid #DFE4EA; {$BETA_CSS_PROPERTY,border-top-right-radius:6px;} {$BETA_CSS_PROPERTY,border-bottom-right-radius:6px;} background:#FFF; outline:none; border-left:0px; color:#666; font-weight:bold; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
.emailBtn:hover { background-color:#666666; color:#FFF; cursor:pointer; }


/*Palette section*/

.paletteHold { float:left; width:960px; }
.palHead { float:left; width:960px; height:100px; background-image:url('{$IMG;,composr_homesite/start/palette-top-bg}'); background-repeat:no-repeat; background-position:bottom center; }
.palBtm { float:left; width:960px; height:60px; margin-top:-10px; background-image:url('{$IMG;,composr_homesite/start/palette-btm-bg}'); background-repeat:no-repeat; background-position:top center; }

.palBox { float:left; width:960px; height:150px; }
.palBox ul { margin:0; padding:0; float:left; width:960px; height:150px; }
.palBox ul li { float:left; width:100px; height:150px; margin-right:7px; text-indent:-9999px; overflow:hidden; display:block; }
.palBox ul li:last-child { margin-right:0px; }
.palBox ul li.bx1 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:0px 0px; }
.palBox ul li.bx2 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-108px 0px; }
.palBox ul li.bx3 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-215px 0px; }
.palBox ul li.bx4 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-322px 0px; }
.palBox ul li.bx5 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-429px 0px; }
.palBox ul li.bx6 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-536px 0px; }
.palBox ul li.bx7 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-643px 0px; }
.palBox ul li.bx8 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-752px 0px; }
.palBox ul li.bx9 { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-859px 0px; margin-right:0px; }

.palBox ul li.bx1:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:0px -151px; }
.palBox ul li.bx2:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-108px -151px; }
.palBox ul li.bx3:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-215px -151px; }
.palBox ul li.bx4:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-322px -151px; }
.palBox ul li.bx5:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-429px -151px; }
.palBox ul li.bx6:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-536px -151px; }
.palBox ul li.bx7:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-643px -151px; }
.palBox ul li.bx8:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-752px -151px; }
.palBox ul li.bx9:hover { background-image:url('{$IMG;,composr_homesite/start/palette-icons}'); background-repeat:no-repeat; background-position:-859px -151px; margin-right:0px; }

.palBox ul li a { display:block; width:100px; height:150px; }
.palBox ul li { -webkit-transition:margin 0.5s ease-out; -moz-transition:margin 0.5s ease-out; -o-transition:margin 0.5s ease-out; }
.palBox ul li:hover { cursor:pointer; margin-top:-10px; }

.readMoreBtn { margin:30px auto 0px; width:116px; height:28px; line-height:28px; text-align:center; color:#9B9DA2; text-shadow:1px 1px #FFF; background-image:url('{$IMG;,composr_homesite/start/read-more-btn}'); background-repeat:no-repeat; background-position:left top; font-weight:bold; font-size:14px; }
.readMoreBtn a { text-decoration:none; color:#9B9DA2; display:block; width:116px; height:28px; }
.readMoreBtn a:hover { color:#E5922C; text-shadow:1px 1px #FFF; }
