.cmn-strs { overflow:hidden; font-size:14px; color:#666; margin-bottom:20px; }

.cmn-strs .list ul { list-style:none; margin:0; padding:0; padding-left:20px; margin-bottom:15px; }
.cmn-strs .list ul li { list-style-image:url('{$IMG;,composr_homesite/bult-1}'); list-style-position:inside; line-height:25px; }

.cmn-strs .list2 ul { list-style:none; margin:0; padding:0; padding-left:20px; }
.cmn-strs .list2 ul li { list-style-image:url('{$IMG;,composr_homesite/stars/bult-2}'); list-style-position:inside; line-height:25px; }

.mainStar { margin-bottom:3em; }

.mainStar.cntRow .row-top { margin-top:5px; }

.mainStar table { table-layout:fixed; border-collapse: collapse; }

.mainStar tr { font-size:14px; color:#666; line-height:22px; }

.mainStar tr th, .mainStar tr td { border-bottom:#c7c7c7 solid 1px; }

.mainStar tr .adj { text-align:center; color:#e5922c; font-weight:bold; }
.mainStar tr .adj2 { text-align:left; color:#e5922c; font-weight:bold; }

.mainStar tr .blk1 { width:136px; padding:7px 0; background:none; text-align:center; color:#e5922c; font-weight:bold; }
/* Not practical with real avatars .mainStar tr .blk1 img { border:3px solid #7E8EA8; {$BETA_CSS_PROPERTY,border-radius:50px;} }*/
.mainStar tr .blk2 { width:172px; padding:10px; background:none; }
.mainStar tr .blk3 { width:611px; padding:10px; background:#e0e5ed; text-align:left; min-height:111px; }
