.headlineRow { margin:1em 0 2em 0; }

ul.cntLiFull { list-style:none; overflow:hidden; padding:10px 0px; margin:0 0 20px 0; }
ul.cntLiFull li { padding:0px 0px 15px 40px; line-height:22px; display:block; color:#666; font-size:14px; background-image:url('{$IMG;,composr_homesite/para-bullet}'); background-repeat:no-repeat; background-position:20px 5px; }

/*Slider*/

.page_running_compare .contentWrap {
	top: 0 !important; /* Fix IE bug */
}

#tooltip_container {
	width:1500px;
	height:300px;
	margin:0;
	padding:0;
	z-index:50;
	position:relative;
	top:-300px;
	background: rgba(0,0,0,0.0001); /* IE fix- needed for hovering to get detected for the .vtip elements */
}

.slide_tooltip {
	float:left;
	padding:0;
	z-index:1000;
}

#tooltip_wordpress {
	width:220px;
	padding:80px 0 0 30px;
}
#tooltip_joomla{
	width:200px;
	padding:80px 0 20px 30px;
}
#tooltip_drupal{
	width:240px;
	padding:20px 0 40px 50px;
}
#tooltip_snarepoint{
	width:230px;
	padding:40px 0 20px 110px;
}
#tooltip_composr{
	width:340px;
	padding:10px 0 20px 20px;
}

p#vtip {
	display: none;
	position: absolute;
	padding: 10px;
	left: 5px;
	font-size: 13px;
	text-align:center;
	background:url({$IMG;,composr_homesite/compare/tooltip_bg}) #FFFFFB repeat-x left top;
	border: 2px solid #FFFFCC;
	{$BETA_CSS_PROPERTY,border-radius: 5px;}
	z-index: 290;
	width:240px;
	height: 66px;
}
p#vtip #vtipArrow {
	position: absolute;
	top: 86px;
	left:15px;
}

#wordpress{
	width:220px;
	float:left;
	margin:0;
	padding:0;
	height:200px;
}
#joomla{
	width:220px;
	float:left;
	margin:0;
	padding:0;
	height:140px;
}
#drupal{
	width:240px;
	float:left;
	margin:0;
	padding:0;
	height:200px;
}
#snarepoint{
	width:280px;
	float:left;
	margin:0;
	padding:0;
	height:160px;
}
#composr{
	width:340px;
	float:left;
	margin:0;
	padding:0;
	height:260px;
}

#slide_header_text{
	height:20px;
	position:absolute;
	z-index:100;
	left: 0;
	bottom:29px;
	color:#FFF;
	text-shadow:#427890 1px 1px;
	margin-left:230px;
}
#slide_header_text a{
	color:#FF0;
	text-decoration:none;
}
#slide_header_text a:hover{
	text-decoration:underline;
}
#john_doe {
	position: absolute;
	left: 1015px;
	top: 150px;
	z-index: 1300;
}

/*vTabs*/

.diff { float:left; list-style-type:none;margin:0;padding:0; }

.ui-tabs-vertical { width:55em; }
.ui-tabs-vertical .ui-tabs-nav { background-color:#FFFFFF; border-bottom:1px solid #CDD3DA !important; border-left:1px solid #CDD3DA !important; border-top:1px solid #CDD3DA !important; display:block; float:left; width:98px; height:296px; padding:0 !important; }
.ui-tabs-vertical .ui-tabs-nav li { background-color:#FFFFFF; width:98px; height:98px; position:relative; overflow:hidden; text-indent:-9999px; border-bottom:1px solid #CDD3DA; border-right:1px solid #CDD3DA; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding:0; border-bottom:1px solid #CDD3DA; border-right:none; }
.ui-tabs-vertical .ui-tabs-panel { padding:20px !important; float:left; width:816px; border-top:1px solid #CDD3DA !important; border-right:1px solid #CDD3DA !important; border-bottom:1px solid #CDD3DA !important; border-left:1px solid #CDD3DA !important; margin-left:-1px; }

#tabs { width:960px; padding-bottom:20px; }

#ui-id-1 { width:98px; height:98px; background-image:url('{$IMG;,composr_homesite/compare/tab_m-1}'); background-repeat:no-repeat; background-position:left top; cursor:pointer; }
#ui-id-2 { width:98px; height:98px; background-image:url('{$IMG;,composr_homesite/compare/tab_m-2}'); background-repeat:no-repeat; background-position:left top; cursor:pointer; }
#ui-id-3 { width:98px; height:98px; background-image:url('{$IMG;,composr_homesite/compare/tab_m-3}'); background-repeat:no-repeat; background-position:left top; cursor:pointer; }

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active #ui-id-1 { background-image:url('{$IMG;,composr_homesite/compare/tab_m-1a}'); background-repeat:no-repeat; background-position:left top; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active #ui-id-2 { background-image:url('{$IMG;,composr_homesite/compare/tab_m-2a}'); background-repeat:no-repeat; background-position:left top; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active #ui-id-3 { background-image:url('{$IMG;,composr_homesite/compare/tab_m-3a}'); background-repeat:no-repeat; background-position:left top; }

.ui-tabs-vertical .ui-tabs-nav li:last-child { border-bottom:none; }

#tabs h2 { color:#E5922C; display:block; font-size:24px; font-weight:normal; padding-bottom:10px; border-bottom:1px solid #CDD3DA; margin-top:0; margin-bottom:10px; }

ul.difText { list-style:none; margin:0; padding:0; overflow:hidden; display:block; color:#666; font-size:14px; }
ul.difText li { padding-left:20px; background-image:url('{$IMG;,composr_homesite/para-bullet}'); background-repeat:no-repeat; background-position:0px 5px; padding-bottom:10px; line-height:22px; }


/*Direct comparison*/

.tbHold { border-collapse:collapse; padding-bottom:1px; background-color:#CDD3DA; margin-bottom:20px; }
.tbHold * { font-weight:normal; }
.tbRow { font-size:14px; color:#666; }
.tbRow .col1 { width:312px; padding:8px 6px; border-right:1px solid #FFF; text-align:left; }
.tbRow .col2 { width:145px; padding:8px 6px; border-right:1px solid #FFF; }
.tbRow .col3 { width:145px; padding:8px 6px; border-right:1px solid #FFF; }
.tbRow .col4 { width:145px; padding:8px 6px; border-right:1px solid #FFF; }
.tbRow .col5 { width:147px; padding:8px 6px; }

.tbHead>* { background-color:#677EA4; color:#FFF; text-align:left; border-bottom:1px solid #FFF; border-left:1px solid #CDD3DA; border-right:1px solid #CDD3DA; }
.tbList>* { border-left:1px solid #CDD3DA; border-right:1px solid #CDD3DA; border-bottom:1px solid #FFF; }
.tbList:last-child>* { border-bottom:1px solid #CDD3DA; }

.tbBdCol { background-color:#F0F2F6 !important; color:#666666; }
.tbSlCol { background-color:#F0F2F6 !important; color:#666666; }
.tbRdCol { background-color:#FFCCCC !important; color:#666666; }
.tbGrCol { background-color:#D3F1E0 !important; color:#666666; }
.tbYwCol { background-color:#FFEEA8 !important; color:#666666; }
.tbWtCol { background-color:#F8F8F8 !important; color:#666666; }
