{+START,IF,{$NOT,{$MOBILE}}}
	.tut-row .leftMenu { width:236px; float:left; }
	.tut-row .leftMenu ul { list-style-type:none; margin:0; padding:0; background:#e5922c; font-size:13px; }
	.tut-row .leftMenu ul li { margin:0; border-bottom:#fff solid 1px; }
	.tut-row .leftMenu ul li a { background:url('{$IMG;,composr_homesite/tutorials/bult-4}') no-repeat 5px 12px; display:block; color:#fff; padding:7px 7px 7px 24px; }
	.tut-row .leftMenu ul li a:hover, .tut-row .leftMenu ul li a.active { text-decoration:none; background-color:#667ea4; }
{+END}
{+START,IF,{$MOBILE}}
	.tut-row .leftMenu { }
	.tut-row .leftMenu ul { list-style-type:none; margin:0; padding:0; font-size:13px; }
	.tut-row .leftMenu ul li { padding:4px; display:inline-block; margin:3px; border:#777 dotted 1px; }
	.tut-row .leftMenu ul li a { }
	.tut-row .leftMenu ul li a.active { font-weight:bold; color:#F44; }
{+END}

.tut-row .right {
	{+START,IF,{$NOT,{$MOBILE}}}
		width:705px;
		float:right;
	{+END}
	font-size:14px;
	color:#666;
}
.tut-row .right .tbox { overflow:hidden; border:#667ea4 solid 1px; margin-bottom:30px; }
.tut-row .right .tbox h2 { margin:0; background:#667ea4; padding:7px 10px; color:#fff; font-size:14px; position:relative }
.tut-row .right .tbox h2 img { position:absolute; top:5px; right:7px; }
.tut-row .right .tbox .content { overflow:hidden; background:#e4e4e4; position:relative; }
.tut-row .right .tbox .content .lf {
	{+START,IF,{$MOBILE}}
		width:70px;
	{+END}
	{+START,IF,{$NOT,{$MOBILE}}}
		width:157px;
	{+END}
	float:left;
	background:#fff;
	padding:10px;
}
.tut-row .right .tbox .content .lf img {
	{+START,IF,{$MOBILE}}
		width:70px;
	{+END}
}
.tut-row .right .tbox .content .blk { width:526px; float:left; }
.tut-row .right .tbox .content .blk .txt { padding:10px; }
.tut-row .right .tbox .content .blk .bottom {
	{+START,IF,{$NOT,{$MOBILE}}}
		width:526px;
		position:absolute;
		bottom:0;
	{+END}
}
.tut-row .right .tbox .content .blk .bottom .blk1 {
	{+START,IF,{$NOT,{$MOBILE}}}
		min-width:100px;
	{+END}
	float:left;
	padding:3px 7px;
}
.tut-row .right .tbox .content .blk .bottom .blk2 {
	{+START,IF,{$NOT,{$MOBILE}}}
		width:270px;
	{+END}
	float:left;
	padding:3px 7px;
}
.tut-row .right .tbox .content .blk .bottom .blk2Long { width:390px !important; }
.tut-row .right .tbox .content .blk .bottom .blk2 span { color:#666; }
.tut-row .right .tbox .content .blk .bottom .blk3 a { width:100px; float:right; background:#667ea4; padding:7px; text-align:center; display:block; color:#fff; white-space:nowrap; }
.tut-row .right .tbox .content .blk .bottom .blk3 a:hover { padding:7px; }

.tut-row .right h2 { font-size:22px; color:#667ea4; padding-bottom:7px; border-bottom:#d5dee7 solid 1px; }
.tut-row .right .list {  margin-bottom:20px; }
.tut-row .right .list ul { padding:0; padding-left:18px; }
.tut-row .right .list ul li { list-style-image:url('{$IMG;,composr_homesite/bult-1}'); line-height:20px; }
.tut-row .right .list ul li a { color:#e5922c; }
.tut-row .right .button a { background:#667ea4 url('{$IMG;,composr_homesite/tutorials/plus}') no-repeat 7px 7px; display:inline-block; padding:8px 12px 8px 33px; border-radius:6px; color:#fff }
