.crossword { font-family: Courier, monospace; font-size: 10pt; }
.questionTable { float:left; }
.questionTable td, .questionTable th { width: 100px; }
.crossTable { border-spacing:0px !important;  border-collapse: collapse !important; }
.cellEmpty {  padding: 0px !important; border: 0px solid #000000 !important; }
.cellNumber { padding: 1px !important; background-color: transparent !important; border: 0px solid #000000 !important; width: 20px; height: 20px; }
.cellLetter { padding: 1px !important; background-color: #EEEEEE !important; border: 1px solid #000000 !important; width: 20px; height: 20px; }
.cellDebug { padding: 1px !important; border: 1px solid #000000 !important; width: 20px; height: 20px; }
.crossTableA { border-spacing:0px !important;  border-collapse: collapse !important; }
.cellEmptyA {  padding: 0px !important; border: 0px solid #000000 !important; }
.cellNumberA { padding: 1px !important; background-color: transparent !important; border: 0px solid #000000 !important; width: 30px; height: 30px; }
.cellLetterA { padding: 1px !important; background-color: #EEEEEE !important; border: 1px solid #000000 !important; width: 30px; height: 30px; }
.cellDebugA { padding: 1px !important; border: 1px solid #000000 !important; width: 30px; height: 30px; }
.crossTableB { border-spacing:0px !important;  border-collapse: collapse !important; }
.cellEmptyB {  padding: 0px !important; border: 0px solid #000000 !important; }
.cellNumberB { padding: 1px !important; background-color: transparent !important; border: 0px solid #000000 !important; width: 10px; height: 10px; }
.cellLetterB { padding: 1px !important; background-color: #EEEEEE !important; border: 1px solid #000000 !important; width: 10px; height: 10px; }
.cellDebugB { padding: 1px !important; border: 1px solid #000000 !important; width: 10px; height: 10px; }
