/* Tabs */

.page_running_tracker .tab {
	/*{+START,IF,{$NOT,{$MOBILE}}}*/
		width: 110px;
	/*{+END}*/

	/*{+START,IF,{$MOBILE}}*/
		width: auto;
		text-align: left;
		min-width: 0;
	/*{+END}*/

	display: inline-block;
}

.page_running_tracker .tab span {
	display: inline-block;
	padding-top: 2px;
	padding-left: 20px;
	min-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 1px;
}

#t_1_Popular span {
	background-image: url('{$IMG;,tracker/popular}');
}
#t_1_Easy span {
	background-image: url('{$IMG;,tracker/easy}');
}
#t_1_Hard span {
	background-image: url('{$IMG;,tracker/hard}');
}
#t_1_My_space_Votes span {
	background-image: url('{$IMG;,tracker/my}');
}
#t_1_Recent span {
	background-image: url('{$IMG;,tracker/recent}');
}
#t_1_Sponsored span {
	background-image: url('{$IMG;,tracker/sponsored}');
}
#t_1_Tutorials span {
	background-image: url('{$IMG;,tracker/tutorials}');
}

/* Block frame */

.block_main_mantis_tracker {
	padding: 0;
	margin: 0;
}

/* Block contents */

.tracker_issues {
	overflow: hidden;
}

.tracker_issue_a {
	float: left;
	width: 13em;
	text-align: center;
	border: 1px solid #AAA;
}

.tracker_issue_votes {
	font-size: 1.3em;
}

.tracker_issue_not_voted {
}

.tracker_issue_voted {
	border: 1px dotted blue;
}

.tracker_issue_voting_status a {
	text-decoration: none;
}

.tracker_issue_voting_status a * {
	vertical-align: middle;
}

.tracker_issue_progress {
	font-size: 0.9em;
}

.tracker_issue_b {
	margin-left: 14em;
}

.tracker_issue_description {
	min-height: 7.5em
}

.tracker_issue_poster {
	float: right;
	margin-bottom: 0;
	color: #777
}

.tracker_issue_link {
	float: left;
	padding-bottom: 0.5em;
	margin-bottom: 0;
}
