/* Tabs */

.page-running-tracker .tab {
	display: inline-block;
}
/*{+START,CSS_MODE,desktop}*/
	.page-running-tracker .tab {
		width: 110px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.page-running-tracker .tab {
		width: auto;
		text-align: left;
		min-width: 0;
	}
/*{+END}*/

.page-running-tracker .tab span {
	display: inline-block;
	padding-top: 2px;
	padding-left: 20px;
	min-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 1px;
	background-size: 16px 16px !important;
}

#t_1_Popular span {
	background-image: url('{$IMG;,icons/spare/popular}');
}
#t_1_Easy span {
	background-image: url('{$IMG;,icons/tracker/easy}');
}
#t_1_Hard span {
	background-image: url('{$IMG;,icons/tracker/hard}');
}
#t_1_My_space_Votes span {
	background-image: url('{$IMG;,icons/menu/social/profile}');
}
#t_1_Recent span {
	background-image: url('{$IMG;,icons/spare/recent}');
}
#t_1_Sponsored span {
	background-image: url('{$IMG;,icons/spare/sponsored}');
}
#t_1_Tutorials span {
	background-image: url('{$IMG;,icons/help}');
}

/* Block frame */

.block-main-mantis-tracker {
	padding: 0;
	margin: 0;
}

/* Block contents */

.tracker-issues {
	overflow: hidden;
}

.tracker-issue-a {
	float: left;
	width: 13em;
	text-align: center;
	border: 1px solid #AAA;
}

.tracker-issue-votes {
	font-size: 1.3em;
}

.tracker-issue-not-voted {
}

.tracker-issue-voted {
	border: 1px dotted blue;
}

.tracker-issue-voting-status a {
	text-decoration: none;
}

.tracker-issue-voting-status a * {
	vertical-align: middle;
}

.tracker-issue-progress {
	font-size: 0.9em;
}

.tracker-issue-b {
	margin-left: 14em;
}

.tracker-issue-description {
	min-height: 7.5em
}

.tracker-issue-poster {
	float: right;
	margin-bottom: 0;
	color: #777
}

.tracker-issue-link {
	float: left;
	padding-bottom: 0.5em;
	margin-bottom: 0;
}
