# Some Apache setups will look at double extensions and execute any that look interesting to it - bad for security. Composr filters those though.

<IfModule mod_php5.c>
php_value engine off
</IfModule>

<IfModule mod_php7.c>
php_value engine off
</IfModule>


<IfModule mod_expires.c>
<FilesMatch "^merged_">
ExpiresActive On
ExpiresByType application/javascript "now plus 1 months"
ExpiresByType text/css "now plus 1 months"
</FilesMatch>
</IfModule>

